.btn-normal{
  background-color: #f4a261;
  border-radius: 10px;
  border: black 2px solid;
  padding: 5px;
  width: auto;
  font-size: 18px;
}

.p-mensaje{
  font-size: 18px;
}

.container{
  display: flex;
  text-align: center;
  justify-content: center;
}

.btn-link{
  text-decoration: none;
  color: black;
  background-color: #e9c46a;
  border-radius: 15px;
  border: black 2px solid;
  margin: 4px;
  padding: 5px;
  font-size: 17px;
}

.input-box{
  border-radius: 5px;
  margin: 5px;
}

.text-danger{
  color: red;
}